@inject IDealerService dealerService
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="All">All Offers</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        @if (await dealerService.ExistsByIdAsync(User.Id()))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="Mine">My Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="Add">Add Offer</a>
            </li>
        }
    }
</ul>