@model OfferFormModel
@{
    ViewData["Title"] = "Add offer";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_OfferFormPartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}