 @model MyOffersViewModel

@{
    ViewBag.Title = "My Offers";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h4>My Added Offers</h4>

@if (!Model.AddedOffers.Any())
{
    <h2 class="text-center">You have no added offers yet!</h2>
}

<div class="row">
    @foreach (var offer in Model.AddedOffers)
    {
        @await Html.PartialAsync("~/Views/Shared/_OfferPartial.cshtml", offer)
    }
</div>