@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://cdn.flickeringmyth.com/wp-content/uploads/2019/07/megan-fox-transformers.jpg">
                <div class="text-left h4">
                    <p>Oops, somthing went wrong</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

@*
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<br />
<div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
*@

